

<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler">
                    <span></span>
                </div>
            </li>
            <!-- END SIDEBAR TOGGLER BUTTON -->
            <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->

            <li class="nav-item start active open">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Dashboard</span>
                    <span class="selected"></span>
                    <span class="arrow open"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start active open">
                        <a href="index.html" class="nav-link ">
                            <i class="icon-bar-chart"></i>
                            <span class="title">Dashboard 1</span>
                            <span class="selected"></span>
                        </a>
                    </li>

                </ul>
            </li>

            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-settings"></i>
                    <span class="title">Parameter Setups</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a href="@Url.Action("Index", "AccountDocument", new { area="APPPortal" })">
                            <span class="title">
                                Manage Account Docs.
                            </span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="@Url.Action("Index", "AccountType", new { area="APPPortal" })" class="nav-link ">
                            <span class="title">
                                Manage Account Types
                            </span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="@Url.Action("Index", "Region", new { area="APPPortal" })" class="nav-link ">
                            <span class="title">Manage Bank Regions</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="@Url.Action("Index", "State", new { area="APPPortal" })" class="nav-link ">
                            <span class="title">
                                Manage Bank States
                            </span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="@Url.Action("Index", "Branch", new { area="APPPortal" })" class="nav-link ">
                            <span class="title">
                                Manage Branches
                            </span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="@Url.Action("Index", "EmployeeType", new { area="APPPortal" })" class="nav-link ">
                            <span class="title">Manage Employee Types</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="@Url.Action("Index", "IdentificationType", new { area="APPPortal" })" class="nav-link ">
                            <span class="title">Manage Identification Types</span>
                        </a>
                    </li>

                </ul>
            </li>


            <li class="nav-item  ">
                <a href="index8a36.html?p=" class="nav-link nav-toggle">
                    <i class="icon-"></i>
                    <span class="title">Logout</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a href="portlet_boxed.html" class="nav-link ">
                            <span class="title">Boxed Portlets</span>
                        </a>
                    </li>

                </ul>
            </li>

        </ul>
        <!-- END SIDEBAR MENU -->
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>