@model SleekSoftMVCFramework.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_APPLoginPartial.cshtml";
}


<!-- BEGIN FORGOT PASSWORD FORM -->

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "forget-fo1m", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <h3 class="font-green">Forget Password ?</h3>
    <p> Enter your e-mail address below to reset your profile. </p>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control placeholder-no-fix form-group", @placeholder = "Enter Email", autocomplete = "off" })
                            </div>
                            <div class="form-actions">
                                <a href="@Url.Action("Login","Account")">
                                    <button type="button" id="back-btn" class="btn green btn-outline">Back</button>
                                </a>
                                <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
                            </div>
}
<!-- END FORGOT PASSWORD FORM -->
<!-- end wrapper -->
<!-- end wrapper -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
